*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 36px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator{
    background-color: black;
    display: inline-block;
    padding: .5em;
    border-radius: .35em;
    box-shadow: 0em 0em .5em rgba(255, 255, 255, .3);
}
#display{
    background-color: darkslategrey;
    color: white;
    text-align: right;
    font-size: 200%;
    padding: .125em;
    border-radius: .05em;
    max-width: 5.7em;
    overflow: hidden;
}
.row{
    display: flex;
    justify-content: space-between;
    gap: .5em;
    margin-top: .5em
}
button {
    border: none;
    font-weight: bold;
    background-color: gray;
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, .25);
    color: whitesmoke;
}
button:active{
    box-shadow: .08em .03em rgb(89, 89, 89);
}
#equals{
    width: 12em;
    border-radius: 50%;
    background-color: lightgray;
}
.row:not(:last-of-type)>button:last-of-type{
    background-color: orange;
}

@media screen and (max-width: 640px) {
    *{
        font-size: 24px;
    }
}